*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.header {
  background: linear-gradient(to right, #009fff, #ec2f4b);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  background-size: cover;
  background-position: top;
  position: relative;
  height: 95vh;
}
.logo {
  height: 6rem;
}
.custom-btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2.5rem;
  border-radius: 10rem;
  color: #777;
}
.custom-btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.21);
}
.heading-top {
  letter-spacing: 0.6rem;
  color: #f8f8f8;
}
.heading-small {
  color: #f8f8f8;
}
ul li a {
  color: #f8f8f8 !important;
}
.skills {
  background: linear-gradient(to right, #009fff, #ec2f4b);
  color: #f8f8f8;
  clip-path: polygon(0 10vw, 100% 0, 100% calc(100% - 10vw), 0 100%);
  height: 90vh;
  padding-top: 120px !important;
}
.footer {
  background: linear-gradient(to right, #009fff, #ec2f4b);
}
.wrapper {
  background: linear-gradient(to right, #009fff, #ec2f4b);
}
.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover {
  width: 200px;
}
.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon {
  background: #04669a;
}
.wrapper .button:nth-child(2):hover .icon {
  background: #040204;
}
.wrapper .button:nth-child(3):hover .icon {
  background: #ff0000;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
  color: #fff;
}
.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span {
  color: #04669a;
}
.wrapper .button:nth-child(2) span {
  color: #040204;
}
.wrapper .button:nth-child(3) span {
  color: #ff0000;
}
